body{
    background-color: lightblue;
}

.faq{
    padding: 40px 0;
}

.faq .faq-group {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq .faq-group .faq-group-header{
    padding: 20px 0;
    margin-bottom: 15px;
    position: relative;
}

.faq .faq-group .faq-group-header h4{
    font-weight: 600;
    width: 95%;
}

.faq .faq-group .faq-group-header i{
    position: absolute;
    right: 0;
    top: 35px;
    cursor: pointer;
}

.faq .faq-group .faq-group-body{
    display: none;
}

.faq .faq-group .faq-group-body.open{
    display: block;
}

.faq ul.faq-menu{
    max-width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
}